doctype html
html(lang="en")
  head
    title Daniel Gaytán
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='/vendor/semantic-ui/dist/semantic.js')
    link(rel='stylesheet' href='/vendor/semantic-ui/dist/semantic.css')
    link(rel='stylesheet' href='/css/index.css')
  body
    .ui.page.grid
      .row
      .row
        .column
          h1 Daniel Gaytán
          .ui.horizontal.divided.list
            a.item(href='mailto:dgaytan6@gmail.com')
              i.envelope.icon
              .content
                | dgaytan6@gmail.com
            a.item(target='_blank' href='https://www.linkedin.com/in/danielgaytan?locale=en_US&trk=profile_view_lang_sel_click')
              i.linkedin.icon
              .content
                | Daniel Gaytan
            a.item(target='_blank' href='https://twitter.com/dangaytan')
              i.twitter.icon
              .content
                | @dangaytan
            a.item(target='_blank' href='https://docs.google.com/document/d/1fsEUAaoHsgbe9G15EGxrHD-vmUwWH0eDC5eHP35il6M/edit')
              i.google.icon
              .content
                | CV - in Drive
            a.item(target='_blank' href='http://github.com/daniel-g')
              i.github.icon
              .content
                | Github
            a.item(target='_blank' href='https://coderwall.com/dangaytan')
              i.code.icon
              .content
                | Coderwall
      .row
        .ui.one.column.stackable.grid
          h2 About
          p
            | 6+ years experienced Ruby on Rails developer, mid level front end developer on AngularJS, Sussy, Foundation 4, SemanticUI. Passionate about education and awesomeness :)
      .row
        .ui.three.column.stackable.doubling.grid
          .column
            h2 I'm proud of
            .ui.list
              .item
                .content
                  .header
                    a(href='inkd.com') Inkd.com (+1 Year)
                  .description.tags
                    .ui.label.red Rails 3.2
                    .ui.label.teal Angular
                    .ui.label.blue Compass
                    .ui.label.teal Coffeescript
                    .ui.label.red Capistrano
                    .ui.label.purple ElasticSearch
                    .ui.label.purple ETL
                    .ui.label.purple Postgresql
                    .ui.label.black Lead Team
              .item
                .content
                  .header
                    a(href='teachingchannel.org') TeachingChannel.org (+1 Year)
                  .description.tags
                    .ui.label.red Rails 3.2
                    .ui.label.teal Backbone
                    .ui.label.blue Compass
                    .ui.label.teal Coffeescript
                    .ui.label.red Capistrano
                    .ui.label.purple Apache Solr
                    .ui.label.purple MySQL
              .item
                .content
                  .header
                    a(href='onelogin.com') Onelogin.com (8 months)
                  .description.tags
                    .ui.label.red Rails 2.3
                    .ui.label.teal jQuery
                    .ui.label.purple SAML
                    .ui.label.purple SCIM
                    .ui.label.purple Postgresql
          .column
            h2 Look at the samples
            .ui.list
              .item
                i.diamond.icon
                .content
                  .header JogNow (Rails, Angular, SPA)
                  .description
                    a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
              .item
                i.diamond.icon
                .content
                  .header Page Fetcher (Rails, Angular, SPA)
                  .description
                    a(href='https://github.com/daniel-g/page_fetcher') https://github.com/daniel-g/page_fetcher
              .item
                i.rocket.icon
                .content
                  .header Ranking (Angular)
                  .description
                    a(href='https://github.com/daniel-g/angular-ranking-sample') https://github.com/daniel-g/angular-ranking-sample
          .column
            h2 Personal projects (drafts yet)
            .ui.list
              .item
                i.book.icon
                .content
                  .header DevTeach
                  .description
                    p
                      | Small workshops
                      br
                      a(href='https://github.com/daniel-g/dev-teach') https://github.com/daniel-g/dev-teach
              .item
                i.calculator.icon
                .content
                  .header Impuestos Calc
                  .description
                    p
                      | Calc of taxes for invoices in Mexico.
                      br
                      a(href='https://github.com/daniel-g/impuestos_calc') https://github.com/daniel-g/impuestos_calc
