doctype html
html(lang="en")
  head
    title Daniel Gaytán
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='/vendor/semantic-ui/dist/semantic.js')
    link(rel='stylesheet' href='/vendor/semantic-ui/dist/semantic.css')
  body
    .ui.page.grid
      .row
        .column
          h1 Daniel Gaytán
          ul
            li Me
