.column
  h2 Look at the samples
  .ui.list
    .item
      i.diamond.icon(title='ruby')
      .content
        .header JogNow (Rails, Angular, SPA)
        .description
          a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
    .item
      i.diamond.icon(title='ruby')
      .content
        .header Page Fetcher (Rails, Angular, SPA)
        .description
          a(href='https://github.com/daniel-g/page_fetcher') https://github.com/daniel-g/page_fetcher
    .item
      i.rocket.icon(title='javascript')
      .content
        .header Ranking (Angular)
        .description
          a(href='https://github.com/daniel-g/angular-ranking-sample') https://github.com/daniel-g/angular-ranking-sample
