h2.pointing-header
  i.icon.ion-ios-heart
  | Say hi!
ul.list-unstyled
  li
    a(href='mailto:hi@danielg.mx')
      i.icon.ion-ios-email
      | Email
  li
    a(target='_blank' href='http://github.com/daniel-g')
      i.icon.ion-social-octocat
      | Github
  li
    a(target='_blank' href='https://www.linkedin.com/in/danielgaytan?locale=en_US&trk=profile_view_lang_sel_click')
      i.icon.ion-social-linkedin
      | LinkedIn
  li
    a(target='_blank' href='https://twitter.com/dangaytan')
      i.icon.ion-social-twitter
      | Twitter
  li
    a(target='_blank' href='https://coderwall.com/dangaytan/protips#protips')
      i.icon.ion-ios-glasses
      | Blog
