h2 Say hi!
ul.list
  a.item(target='_blank' href='http://github.com/daniel-g')
    i.github.icon
    .content
      | Github
  a.item(target='_blank' href='https://www.linkedin.com/in/danielgaytan?locale=en_US&trk=profile_view_lang_sel_click')
    i.linkedin.icon
    .content
    | Daniel Gaytan
  a.item(href='mailto:hi@danielg.mx')
    i.envelope.icon(title='Email')
    .content
      | hi@danielg.mx
  a.item(target='_blank' href='https://twitter.com/dangaytan')
    i.twitter.icon
    .content
      | @dangaytan
  a.item(target='_blank' href='https://coderwall.com/dangaytan')
    i.code.icon
    .content
      | Blog
