doctype html
html(lang="en")
  head
    title Daniel Gaytán
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='/vendor/angularjs/angular.js')
    script(type='text/javascript' src='/vendor/tether/dist/js/tether.js')
    script(type='text/javascript' src='/vendor/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet' href='/css/application.css')
    script(type='text/javascript' src='/js/application.js')
  body(ng-app='Application')
    .container#main-container
      .row#header
        .col-xs-12
          h1.row
            img(ng-src='/img/palm{{palmClass}}.svg' ng-init='palmClass = ""')
            span(ng-mouseover='palmClass = "-red"' ng-mouseout='palmClass = ""') Daniel Gaytán
          .row
            p.col-md-12 7+ years full stack Ruby on Rails developer.
      .row
        .col-md-6#projects
          include ./projects.jade
        .col-md-6#contact
          include ./contact.jade
    #footer.container-fluid
      .row.licenses.text-xs-right
        .col-md-12
          | Icons made by 
          a(href="http://www.freepik.com" title="Freepik") Freepik
          |  from 
          a(href="http://www.flaticon.com" title="Flaticon") www.flaticon.com
          |  is licensed by 
          a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10269308-5', 'auto');
      ga('send', 'pageview');
