h2 Personal Projects
ul.list-unstyled
  li
    | Dynamic Post (Express, Angular, React)
    ul
      li
        a(href='https://github.com/daniel-g/jognow') Try it!!!
      li
        span Repo: 
        a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
  li
    | Data graph (Express, D3)
    ul
      li
        a(href='https://github.com/daniel-g/jognow') Try it!!!
      li
        span Repo: 
        a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
  li
    | Nutrition Table (Rails, Angular)
    ul
      li
        a(href='https://github.com/daniel-g/jognow') Try it!!!
      li
        span Repo: 
        a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
