.column
  h2 Personal projects
  .ui.list
    .item
      i.book.icon
      .content
        .header DevTeach
        .description
          p
            | Small workshops
            br
            a(href='https://github.com/daniel-g/dev-teach') https://github.com/daniel-g/dev-teach
    .item
      i.calculator.icon
      .content
        .header Impuestos Calc
        .description
          p
            | Calc of taxes for invoices in Mexico.
            br
            a(href='https://github.com/daniel-g/impuestos_calc') https://github.com/daniel-g/impuestos_calc
