h2.pointing-header
  i.icon.ion-code-working
  |Projects
ul.list-unstyled
  li
    a.h6(href='http://devgile.com') Devgile
    |  - working on 
    a(target='_blank' href='https://smartbizloans.com') SmartBiz Loans
    span  July 2015 to now
    ul.tags
      li Rails
      li Finance
      li Frontedn
      li Capistrano
      li MySQL
  li
    a.h6(target='_blank' href='https://onelogin.com') Onelogin.com
    |  - working for 
    a(target='_blank' href='https://onelogin.com') the company
    span  June 2014 to July 2015
    ul.tags
      li Rails
      li Security
      li Provisioning
      li SAML
      li SCIM
      li Coffeescript
      li Postgresql
      li Frontend
  li
    a.h6(target='_blank' href='http://tango.io') Tango.io
    |  - working on 
    a(target='_blank' href='https://inkd.com') Inkd.com
    span  April 2013 to June 2014
    ul.tags
      li.red Rails
      li.teal Angular
      li.blue Compass
      li.teal Coffeescript
      li.red Capistrano
      li.purple ElasticSearch
      li.purple ETL
      li.purple Postgresql
      li.black Project Management

  li
    a.h6(target='_blank' href='http://tango.io') Tango.io
    |  - working on 
    a(target='_blank' href='https://teachingchannel.org') TeachingChannel.org
    span  July 2011 to August 2012
    ul.tags
      li Rails
      li Backbone
      li Compass
      li Coffeescript
      li Capistrano
      li Solr
      li MySQL
      li BDD
