h2 Projects
ul.list-unstyled
  li
    a.h6(target='_blank' href='https://onelogin.com') Onelogin.com
    span (8 months)
    ul.tags
      li Rails
      li Security
      li Provisioning
      li SAML
      li SCIM
      li Coffeescript
      li Postgresql
  li
    a.h6(href='http://tango.io') Tango.io
    |  - working on 
    a(target='_blank' href='https://teachingchannel.org') TeachingChannel.org
    span  (+1 Year)
    ul.tags
      li Rails
      li Backbone
      li Compass
      li Coffeescript
      li Capistrano
      li Solr
      li MySQL
  li
    a.h6(href='http://tango.io') Tango.io
    |  - working on 
    a(target='_blank' href='https://inkd.com') Inkd.com
    span  (+1 Year)
    ul.tags
      li.red Rails
      li.teal Angular
      li.blue Compass
      li.teal Coffeescript
      li.red Capistrano
      li.purple ElasticSearch
      li.purple ETL
      li.purple Postgresql
      li.black Project Management
