@import "vendor/bootstrap/scss/bootstrap-flex"
@import "vendor/include-media/dist/include-media"
$breakpoints: $grid-breakpoints

$ionicons-font-path: "/vendor/Ionicons/fonts"
@import "vendor/Ionicons/scss/ionicons"

.pointing-header
  cursor: pointer
  padding-right: .3em
  &:hover
    i
      color: red

.icon
  margin-right: 0.3em
  &::before
    width: 1em

#main-container
  padding-top: 2em

#header
  h1
    flex-wrap: nowrap
    padding-left: 0.9375rem
    padding-right: 0.9375rem
    img
      flex-basis: auto
      width: 2em
      height: 2em
      @include media(">sm")
        width: 1em
        height: 1em
    span
      cursor: pointer
      flex-basis: auto
      padding-left: 0.3em
#contact ul
  font-size: 1.3em

#footer
  .licenses
    font-size: 0.6em
ul.tags
  padding: 0
  li
    font-size: .8em
    color: white
    display: inline-block
    padding: .3em
    background-color: black
    margin: .3em .3em .3em 0
    border-radius: .3em

#projects
  ul
    margin-bottom: 1em
