.ui.list
  .item
    i.diamond.icon
    .content
      .header JogNow (Rails, Angular, SPA)
      .description
        a(href='https://github.com/daniel-g/jognow') https://github.com/daniel-g/jognow
  .item
    i.diamond.icon
    .content
      .header Page Fetcher (Rails, Angular, SPA)
      .description
        a(href='https://github.com/daniel-g/page_fetcher') https://github.com/daniel-g/page_fetcher
  .item
    i.rocket.icon
    .content
      .header Ranking (Angular)
      .description
        a(href='https://github.com/daniel-g/angular-ranking-sample') https://github.com/daniel-g/angular-ranking-sample
