.ui.horizontal.divided.list
  a.item(href='mailto:dgaytan6@gmail.com')
    i.envelope.icon
    .content
      | dgaytan6@gmail.com
  a.item(target='_blank' href='https://www.linkedin.com/in/danielgaytan?locale=en_US&trk=profile_view_lang_sel_click')
    i.linkedin.icon
    .content
      | Daniel Gaytan
  a.item(target='_blank' href='https://twitter.com/dangaytan')
    i.twitter.icon
    .content
      | @dangaytan
  a.item(target='_blank' href='https://docs.google.com/document/d/1fsEUAaoHsgbe9G15EGxrHD-vmUwWH0eDC5eHP35il6M/edit')
    i.google.icon
    .content
      | CV - in Drive
  a.item(target='_blank' href='http://github.com/daniel-g')
    i.github.icon
    .content
      | Github
  a.item(target='_blank' href='https://coderwall.com/dangaytan')
    i.code.icon
    .content
      | Coderwall
