.ui.list
  .item
    .content
      .header
        a(href='inkd.com') Inkd.com (+1 Year)
      .description.tags
        .ui.label.red Rails 3.2
        .ui.label.teal Angular
        .ui.label.blue Compass
        .ui.label.teal Coffeescript
        .ui.label.red Capistrano
        .ui.label.purple ElasticSearch
        .ui.label.purple ETL
        .ui.label.purple Postgresql
        .ui.label.black Lead Team
  .item
    .content
      .header
        a(href='teachingchannel.org') TeachingChannel.org (+1 Year)
      .description.tags
        .ui.label.red Rails 3.2
        .ui.label.teal Backbone
        .ui.label.blue Compass
        .ui.label.teal Coffeescript
        .ui.label.red Capistrano
        .ui.label.purple Apache Solr
        .ui.label.purple MySQL
  .item
    .content
      .header
        a(href='onelogin.com') Onelogin.com (8 months)
      .description.tags
        .ui.label.red Rails 2.3
        .ui.label.teal jQuery
        .ui.label.purple SAML
        .ui.label.purple SCIM
        .ui.label.purple Postgresql
